In [37]:
import pandas as pd
import numpy as np

df = pd.read_csv('training.1600000.processed.noemoticon.csv')

In [38]:
df.head(10)

df = df.drop_duplicates()
print(len(df))

1599999

In [39]:
df = df[:-1599500]

len(df)

499

In [40]:
df.columns = ['Index', 'ID', 'Date', 'Query', 'Username', 'Comment']

print(df.columns)
df.head(10)

Index(['Index', 'ID', 'Date', 'Query', 'Username', 'Comment'], dtype='object')

,Index,ID,Date,Query,Username,Comment
0,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...
1,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...
2,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire
3,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all...."
4,0,1467811372,Mon Apr 06 22:20:00 PDT 2009,NO_QUERY,joy_wolf,@Kwesidei not the whole crew
5,0,1467811592,Mon Apr 06 22:20:03 PDT 2009,NO_QUERY,mybirch,Need a hug
6,0,1467811594,Mon Apr 06 22:20:03 PDT 2009,NO_QUERY,coZZ,@LOLTrish hey long time no see! Yes.. Rains a...
7,0,1467811795,Mon Apr 06 22:20:05 PDT 2009,NO_QUERY,2Hood4Hollywood,@Tatiana_K nope they didn't have it
8,0,1467812025,Mon Apr 06 22:20:09 PDT 2009,NO_QUERY,mimismo,@twittera que me muera ?
9,0,1467812416,Mon Apr 06 22:20:16 PDT 2009,NO_QUERY,erinx3leannexo,spring break in plain city... it's snowing

In [41]:
df['Index'] = range(0,499)

df.set_index('Index', inplace = True)

print(df)

               ID                          Date     Query        Username  \
Index
0      1467810672  Mon Apr 06 22:19:49 PDT 2009  NO_QUERY   scotthamilton
1      1467810917  Mon Apr 06 22:19:53 PDT 2009  NO_QUERY        mattycus
2      1467811184  Mon Apr 06 22:19:57 PDT 2009  NO_QUERY         ElleCTF
3      1467811193  Mon Apr 06 22:19:57 PDT 2009  NO_QUERY          Karoli
4      1467811372  Mon Apr 06 22:20:00 PDT 2009  NO_QUERY        joy_wolf
...           ...                           ...       ...             ...
494    1467934606  Mon Apr 06 22:53:06 PDT 2009  NO_QUERY      fictillius
495    1467935121  Mon Apr 06 22:53:14 PDT 2009  NO_QUERY  SicklyInfected
496    1467935189  Mon Apr 06 22:53:15 PDT 2009  NO_QUERY       AshleighF
497    1467935271  Mon Apr 06 22:53:19 PDT 2009  NO_QUERY   andreakuefler
498    1467935345  Mon Apr 06 22:53:18 PDT 2009  NO_QUERY       mmmelissa

                                                 Comment
Index
0      is upset that he can't update his Facebook by ...
1      @Kenichan I dived many times for the ball. Man...
2        my whole body feels itchy and like its on fire
3      @nationwideclass no, it's not behaving at all....
4                          @Kwesidei not the whole crew
...                                                  ...
494                      @Brodhe geez ur no fun are you
495                I wanna be in a punk rock band again
496    @jyesmith That's a lot of angst for a Tuesday ...
497    I'm very glad Britney isn't crazy anymore! Tha...
498        has a huuuge headache! omg I feel like crap!

[499 rows x 5 columns]

In [42]:
df.to_csv('muokattu_twitter_dataset.csv', index=False)